<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>
    <body style="text-align: center;">
    <form id="idinaxui" style="display: none" method="post">
        {% csrf_token %}
        Заведение: <select id="list1"></select>
        <div id="box"></div>
        <br>
        <h2 id="price">Стоимость меню: </h2>
        <input type="hidden" id="price-input" name="price">
        <input type="hidden" id="place-name" name="placeName">
        <input type="submit" id="otpravit" value="Отправить меню">
    </form>
    <form style="float: left; top: 10px; position: fixed" action="" id="ajax_form" method="GET">
        <label for="fname">Логин:</label>
        <input type="text" id="Login" name="firstname" placeholder="Ваш логин..">
        <input type="submit" id="btn" value="Войти">
        <div id="result_form"></div>
    </form>

<script>
    let place_data = undefined;


    $("#list1").change(function () {
        $("#place-name").val(document.getElementById('list1').value);
        var proxyUrl = 'https://cors-anywhere.herokuapp.com/',
            url = "http://outiin.pythonanywhere.com/menu/?institution=" + document.getElementById('list1').value
        fetch(proxyUrl + url)
            .then(blob => blob.json())
            .then(data => {
                document.getElementById('box').innerHTML = '';
                place_data = data;
                let place_names = Object.keys(data);
                place_names.shift();
                place_names.forEach(function (place_name) {
                    let div = document.createElement('div');
                    div.innerHTML += '<br>';
                    div.innerText += place_name + ':';
                    div.innerHTML += '<br>';
                    div.appendChild(selectForOnePlace(place_name));
                    document.getElementById('box').appendChild(div);
                })
            })
            .catch(e => {
                return e;
            });

    });


    function selectForOnePlace(place_name) {
        let element = document.createElement("select");
        element.setAttribute('id', place_name);
        nothing = document.createElement('option');
        nothing.setAttribute('value', '0');
        nothing.innerText = 'Ничего 0р.';
        element.appendChild(nothing);
        place_data[place_name].forEach(function (dish) {
            let dishOption = document.createElement('option');
            dishOption.setAttribute('value', dish['price']);
            dishOption.setAttribute('id', dish['id']);
            dishOption.innerText = dish['product'] + ' ' + dish['price'] + 'р.';
            element.appendChild(dishOption);
        });
        let hidden = document.createElement("input");
        hidden.setAttribute('type', 'hidden');
        element.appendChild(hidden);
        return element;
    }

    $("body").on("change", "#box > div > select", function (event) {
        select = selectForOnePlace(event.target.id);
        selector = "[id = '" + event.target.id + "']";
        $(event.target).find("input").val($(event.target).find(":selected").attr("id"));
        $(event.target).find("input").attr("name", "product_id" + $(event.target).find(":selected").attr("id"));
        $(selector).parent().append($('<br>')).append($(select));
        sum = 0;
        $("#box > div > select").each(function () {
            sum += parseFloat(this.value.replace(",", "."))
        });
        $("#price-input").val(sum);
        $('#price').text('Price: ' + sum.toString() + ' р.');
    });

</script>
<script>
        $( document ).ready(function() {
            $("#btn").click(
                function(){
                    sendAjaxForm('result_form', 'ajax_form', 'login');
                    return false;
                }
            );
            $("#otpravit").click(
                function(){
                    ajaxPost('result_form', 'idinaxui', 'generation/');
                    return false;
                }
            );
        });

        function ajaxPost(result_form, ajax_form, url) {
            console.log($("#"+ajax_form).serialize());
            $.ajax({
                url: url, //url страницы (action_ajax_form.php)
                type: "POST", //метод отправки
                dataType: "json", //формат данных
                data: $("#"+ajax_form).serialize(),  // Сеарилизуем объект
                success: function(response) { //Данные отправлены успешн
                    console.log(response)
                    alert(response)
                },
                error: function(response) { // Данные не отправлены
                    console.log(response)
                    alert(response.responseText);
                }
            });
        }

        function sendAjaxForm(result_form, ajax_form, url) {
            console.log($("#"+ajax_form).serialize());
            $.ajax({
                url: url, //url страницы (action_ajax_form.php)
                type: "GET", //метод отправки
                dataType: "html", //формат данных
                data: $("#"+ajax_form).serialize(),  // Сеарилизуем объект
                success: function(response) { //Данные отправлены успешн
                    if(response == 'OK') {
                        alert('Авторизация прошла успешно')
                        document.getElementById("idinaxui").style.display = "block";

                        var proxyUrl = 'https://cors-anywhere.herokuapp.com/',
                        targetUrl = 'http://outiin.pythonanywhere.com/allInstitutions/'
                        fetch(proxyUrl + targetUrl)
                            .then(blob => blob.json())
                            .then(data => {
                                index = Number($("#Login").val().toString().match(/_(\d+)/)[1]);
                                for(var i = index; i < index + 20; i += 1){
                                    console.log(data['name'][i]['name']);
                                    document.getElementById('list1').innerHTML += '<option>' + data['name'][i]['name'] + '</option>'
                                }
                                return data;
                            })
                            .catch(e => {
                                return e;
                            });

                    }
                    else {alert(response)}
                    //$('#result_form').html('Имя: ' + response);
                },
                error: function(response) { // Данные не отправлены
                    //$('#result_form').html('Ошибка. Данные не отправлены.');
                    alert('Ошибка. Данные не отправлены.');
                }
            });
        }
</script>
</body>
</html>